.container
  .row
    .col-sm-6.col-sm-offset-3
      %h1.text-center Fear not! Help is on the way

      %br

      %p.text-center If the following FAQs aren't enough, you can email me at <a href='zimkies@gmail.com'>zimkies@gmail.com</a> or text me at <a href="sms:#{ENV['TWILIO_CX_NUMBER']}">646-663-5330</a> with feedback or more questions, I'll get back to you asap.

      %br

      %h4 What's the point of this app?
      %p Guardian is meant to be used to help control your vices, for instance drinking. Every time you drink, record that vice here by clicking on the '+' icon under vices. If your vice counts get out of control (3 more than your positive acts), we'll text you to do something good to counter it!

      %h4 What is my guardian?
      %p When you sign up, you appoint a guardian, who is a friend who is responsible to help limit your particular vice. If you ever go over your vice bounds, we'll let them know and ask them to keep you in check!

      %h4 How do I get back to my home page?
      %p You should <a href="http://www.howtogeek.com/196087/how-to-add-websites-to-the-home-screen-on-any-smartphone-or-tablet/">save your home page as an app on your phone</a> You can also have it <a href='#{sign_in_path}'>texted</a> to you.


