.container
  .row
    .col-sm-6.col-sm-offset-3
      %h1.text-center Guardian

      %br
      %h3.text-center A tool to help you overcome your vices.
      %br

      %h4.text-center We, along with a guardian of your choice, will help you keep your vice in check.

      %br
      %br

      =form_tag(users_path, method: "POST") do

        %p.text-center Hey! your name is

        .form-group
          %input.form-control{placeholder: 'Ben', name: "user[name]"}

        %p.text-center and you want to hold yourself accountable for your vice

        .form-group
          %input.form-control{placeholder: 'Drinking', name: "user[vice]"}

        %p.text-center we can reach you at

        .form-group
          %input.form-control{placeholder: '555-555-5555', name: "user[phone_number]"}

        %p.alert-warning.alert.text-center
          (We use this to reach out to you if you let your vice get out of check)

        %br
        %br

        .sign_in.pull-right
          %span<>or
          %a.btn.btn-link{href: sign_in_path}<>Sign in
          %span><with an existing account

        %input.btn.btn-primary.btn-lg{type:'submit', value:'Begin'}
