 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

$blue: #1589B1;
$red: maroon;
$green: green;
$white: white;
$black: black;

body{
  background-image: url(background_texture_lighter.jpeg);
  background-repeat:repeat;
}

body.users {
  .help-link {
    position: absolute;
    right: 15px;
    border: 1px solid $black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-top: 4px;
    text-align: center;
    font-size: 2em;

    a {
      color: $black;
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
      background-color: $black;
      a {
        color: $white;
      }
    }
  }

  .karma-points {
    font-size: 2em;
  }

  .advisor-icon {
    height: 50px;
  }

  .vice-count {
    font-size: 2em;
    color: $red;
  }

  .virtue-count {
    font-size: 2em;
    color: $blue;
  }

  .karma-column {
    height: 150px;

    .add-karma {
      border-radius: 50%;
      border: 1px $red solid;
      color: $red;
      background-color: transparent;
      height: 50px;
      width: 50px;
      text-align: center;

      &.add-virtue {
        border: 1px $blue solid;
        color: $blue;
      }

      &.add-vice {
        border: 1px $red solid;
        color: $red;
      }
    }
    .vice-bar {
      color: $red;
    }

    .virtue-bar {
      color: $blue;
    }
  }
}
